.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.823242;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.742676;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.040000px;}
.ls0{letter-spacing:1.960000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-15.984000px;}
._3{margin-left:-5.920000px;}
._0{margin-left:-3.888000px;}
._2{margin-left:-1.440000px;}
._4{width:37.561654px;}
.fc0{color:rgb(232,232,232);}
.fc4{color:rgb(53,114,197);}
.fc1{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(192,79,21);}
.fs6{font-size:48.000000px;}
.fs5{font-size:50.000000px;}
.fs1{font-size:72.000000px;}
.fs3{font-size:80.000000px;}
.fs4{font-size:112.000000px;}
.fs2{font-size:128.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y34{bottom:24.055374px;}
.y14{bottom:38.984001px;}
.y16{bottom:48.423393px;}
.y27{bottom:55.087372px;}
.y20{bottom:64.866920px;}
.y23{bottom:66.482643px;}
.y26{bottom:69.487373px;}
.y13{bottom:77.384005px;}
.y1f{bottom:79.266918px;}
.y22{bottom:80.882641px;}
.y25{bottom:83.887371px;}
.y15{bottom:86.823397px;}
.y33{bottom:88.855377px;}
.y1e{bottom:93.666918px;}
.y21{bottom:95.282640px;}
.y24{bottom:98.287371px;}
.y2e{bottom:109.330402px;}
.y2f{bottom:112.108356px;}
.y18{bottom:133.235954px;}
.y4{bottom:147.482033px;}
.y3{bottom:169.082035px;}
.y1d{bottom:169.635406px;}
.y17{bottom:171.635958px;}
.y1c{bottom:184.035408px;}
.y2{bottom:190.682035px;}
.y1b{bottom:198.435406px;}
.y32{bottom:203.318359px;}
.y1a{bottom:212.835405px;}
.y10{bottom:234.999733px;}
.y1{bottom:250.231781px;}
.yf{bottom:273.399736px;}
.y31{bottom:277.916218px;}
.y30{bottom:301.916218px;}
.y12{bottom:331.320992px;}
.y7{bottom:338.087074px;}
.ye{bottom:349.113129px;}
.y11{bottom:369.720995px;}
.yb{bottom:373.576115px;}
.y6{bottom:376.703682px;}
.yd{bottom:386.386032px;}
.y2a{bottom:395.499977px;}
.y2d{bottom:404.911003px;}
.y29{bottom:409.899975px;}
.ya{bottom:410.849018px;}
.y5{bottom:414.887075px;}
.y2c{bottom:419.311001px;}
.yc{bottom:421.113131px;}
.y28{bottom:424.299974px;}
.y2b{bottom:433.711000px;}
.y9{bottom:445.576117px;}
.y19{bottom:492.829613px;}
.y8{bottom:495.239059px;}
.h8{height:34.968750px;}
.h3{height:52.417969px;}
.h2{height:52.453125px;}
.h6{height:58.242188px;}
.h9{height:58.437500px;}
.h7{height:81.593750px;}
.h5{height:93.187500px;}
.h4{height:93.250000px;}
.h1{height:157.253906px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x12{left:31.739220px;}
.x1{left:45.089050px;}
.x7{left:68.224030px;}
.x1d{left:88.327560px;}
.x1b{left:105.703934px;}
.xc{left:115.099747px;}
.xb{left:118.282249px;}
.x13{left:128.866714px;}
.xd{left:164.257248px;}
.x1c{left:208.403137px;}
.x2{left:241.336090px;}
.x3{left:276.311096px;}
.xe{left:291.809914px;}
.x23{left:301.897873px;}
.x19{left:321.817322px;}
.x1a{left:335.310235px;}
.x24{left:355.222214px;}
.xf{left:357.197411px;}
.x8{left:400.815536px;}
.x22{left:441.389664px;}
.x9{left:444.213039px;}
.xa{left:475.558037px;}
.x18{left:557.082657px;}
.x14{left:562.314224px;}
.x1f{left:590.613888px;}
.x15{left:605.909225px;}
.x4{left:609.231552px;}
.x20{left:660.144989px;}
.x6{left:661.571564px;}
.x21{left:687.067486px;}
.x10{left:688.432068px;}
.x5{left:737.011559px;}
.x16{left:740.895020px;}
.x11{left:765.074570px;}
.x1e{left:814.753159px;}
.x17{left:821.767517px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.053333pt;}
.ls0{letter-spacing:2.613333pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-21.312000pt;}
._3{margin-left:-7.893333pt;}
._0{margin-left:-5.184000pt;}
._2{margin-left:-1.920000pt;}
._4{width:50.082205pt;}
.fs6{font-size:64.000000pt;}
.fs5{font-size:66.666667pt;}
.fs1{font-size:96.000000pt;}
.fs3{font-size:106.666667pt;}
.fs4{font-size:149.333333pt;}
.fs2{font-size:170.666667pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y34{bottom:32.073832pt;}
.y14{bottom:51.978668pt;}
.y16{bottom:64.564524pt;}
.y27{bottom:73.449829pt;}
.y20{bottom:86.489227pt;}
.y23{bottom:88.643524pt;}
.y26{bottom:92.649831pt;}
.y13{bottom:103.178673pt;}
.y1f{bottom:105.689224pt;}
.y22{bottom:107.843521pt;}
.y25{bottom:111.849828pt;}
.y15{bottom:115.764529pt;}
.y33{bottom:118.473836pt;}
.y1e{bottom:124.889224pt;}
.y21{bottom:127.043521pt;}
.y24{bottom:131.049828pt;}
.y2e{bottom:145.773870pt;}
.y2f{bottom:149.477809pt;}
.y18{bottom:177.647939pt;}
.y4{bottom:196.642710pt;}
.y3{bottom:225.442713pt;}
.y1d{bottom:226.180542pt;}
.y17{bottom:228.847944pt;}
.y1c{bottom:245.380544pt;}
.y2{bottom:254.242714pt;}
.y1b{bottom:264.580541pt;}
.y32{bottom:271.091146pt;}
.y1a{bottom:283.780540pt;}
.y10{bottom:313.332977pt;}
.y1{bottom:333.642375pt;}
.yf{bottom:364.532982pt;}
.y31{bottom:370.554957pt;}
.y30{bottom:402.554957pt;}
.y12{bottom:441.761322pt;}
.y7{bottom:450.782766pt;}
.ye{bottom:465.484172pt;}
.y11{bottom:492.961327pt;}
.yb{bottom:498.101486pt;}
.y6{bottom:502.271576pt;}
.yd{bottom:515.181376pt;}
.y2a{bottom:527.333303pt;}
.y2d{bottom:539.881337pt;}
.y29{bottom:546.533300pt;}
.ya{bottom:547.798691pt;}
.y5{bottom:553.182767pt;}
.y2c{bottom:559.081334pt;}
.yc{bottom:561.484174pt;}
.y28{bottom:565.733299pt;}
.y2b{bottom:578.281334pt;}
.y9{bottom:594.101489pt;}
.y19{bottom:657.106150pt;}
.y8{bottom:660.318746pt;}
.h8{height:46.625000pt;}
.h3{height:69.890625pt;}
.h2{height:69.937500pt;}
.h6{height:77.656250pt;}
.h9{height:77.916667pt;}
.h7{height:108.791667pt;}
.h5{height:124.250000pt;}
.h4{height:124.333333pt;}
.h1{height:209.671875pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x12{left:42.318960pt;}
.x1{left:60.118734pt;}
.x7{left:90.965373pt;}
.x1d{left:117.770081pt;}
.x1b{left:140.938578pt;}
.xc{left:153.466329pt;}
.xb{left:157.709666pt;}
.x13{left:171.822286pt;}
.xd{left:219.009664pt;}
.x1c{left:277.870850pt;}
.x2{left:321.781453pt;}
.x3{left:368.414795pt;}
.xe{left:389.079885pt;}
.x23{left:402.530497pt;}
.x19{left:429.089762pt;}
.x1a{left:447.080313pt;}
.x24{left:473.629618pt;}
.xf{left:476.263214pt;}
.x8{left:534.420715pt;}
.x22{left:588.519552pt;}
.x9{left:592.284053pt;}
.xa{left:634.077382pt;}
.x18{left:742.776876pt;}
.x14{left:749.752299pt;}
.x1f{left:787.485184pt;}
.x15{left:807.878967pt;}
.x4{left:812.308736pt;}
.x20{left:880.193319pt;}
.x6{left:882.095418pt;}
.x21{left:916.089981pt;}
.x10{left:917.909424pt;}
.x5{left:982.682078pt;}
.x16{left:987.860026pt;}
.x11{left:1020.099426pt;}
.x1e{left:1086.337545pt;}
.x17{left:1095.690023pt;}
}
